<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    h1{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 222px; height: 222px;
        margin: 0px; padding: 0px;
        background: cornflowerblue none;
        color: aliceblue;
        text-align: center;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
</style>
<title>Document</title>
</head>
<body>
    <h1>TypeScript</h1>
</body>
</html>