<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>koa-jwt</title>
</head>
<body>
    <h1>koa-jwt</h1>
</body>
<script>
    let xhr = new XMLHttpRequest();
    xhr.open('post', '/login', true);

    xhr.onload = ()=>{
        let res = xhr.responseText;
        console.log(res);
        let data = JSON.parse(res);
        localStorage.setItem('token', data.token);

    };

    xhr.send(JSON.stringify({
        id:1,
        name:'kyo'
    }));

</script>
</html>