<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TypeScript-Css-Function</title>
</head>
<body>
    <h1>TypeScript-Css-Function</h1>
    <br /><hr /><br />
    <div class="title">接口定义</div>
    <div class="co">前面我们说到，TypeScript 的核心之一就是对值（数据）所具有的结构进行类型检查，除了一些前面说到基本类型标注，针对对象类型的数据，除了前面提到的一些方式意外，我们还可以通过： Interface（接口），来进行标注。</div>

    <span>接口：对复杂的对象类型进行标注的一种方式，或者给其它代码定义一种契约（比如：类）</span>
    <span>接口的基础语法定义结构特别简单</span>

<script src="../dist/cssFN.js"></script>    
</body>
</html>