<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/upload/css/style.css" />
<title>2020-08-07 nodeJS 作业01</title>
</head>
<body>
    <h1>2020-08-07 nodeJS 作业01</h1>

    <figure>
        <img src="/upload/img/Turret.jpg" />
        <figcaption>
            角楼
        </figcaption>
    </figure>
    
<script src="/upload/js/talk.js"></script>    
</body>
</html>