@charset "utf-8";

*{
	width:auto; height:auto; float:none;
	margin:0px; padding:0px;
	background:#fff none;
	border:0px;
	box-sizing:content-box;
	color:#111;
	font:16px/36px 'Microsoft yahei';
	font-weight:normal;
	font-style:normal;
	list-style:none;
	clear:none;
}


body{
	padding: 10px;

}

.cl{
	clear:both;
}

button{
	width:100px; height:36px; float:left;
	background:darkcyan none;
	color:#fff;
	text-align:center;
	cursor:pointer;
}
